/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;700&family=Open+Sans:wght@300;400;500;700&display=swap');

/* css resets */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* general styling */
:root {
  --light-clr-1: #fff;
  --light-clr-2: #eeeeee;
  --dark-clr-1: #000;
  --dark-clr-2: #333;
  --dark-clr-3: #777;
  --grey-clr-1: #ddd;
  --grey-clr-2: #f3efef;
  --grey-clr-3: #b9b7b7;
  --special-clr-1: #208192;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style: none;
}

a,
i,
p,
strong {
  font-size: 1.6rem;
  text-decoration: none;
}

button {
  font-size: 1.6rem;
  font-family: inherit;
  cursor: pointer;
}

input,
textarea {
  display: block;
  width: 100%;
  padding: 1rem;
  font-size: 1.6rem;
  font-family: inherit;

  border: 1px solid var(--grey-clr-1);
}

small {
  font-size: 1.3rem;
  font-weight: lighter;
}

/* utility classes */
.underline {
  margin-bottom: 2rem;
}

.line {
  height: 0.4rem;
  width: 20rem;
  margin: auto;
  margin-bottom: 0.5rem;
}

.line-1 {
  background-color: var(--special-clr-1);
}

.line-2 {
  background-color: var(--dark-clr-2);
}

/* sidebar styling */
.sidebar-min {
  background-color: var(--light-clr-2);
  position: fixed;
  width: 7rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  z-index: 2;
}

.sidebar-toggler-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  height: 5vh;
}

.sidebar-bar {
  height: 0.4rem;
  width: 4rem;
  background-color: var(--dark-clr-2);
  margin-bottom: 0.3rem;
}

.sidebar-bar {
  transition: 0.3s ease-in-out all;
}

.sidebar-bar:nth-child(2) {
  width: 5rem;
  background-color: var(--special-clr-1);
}

.sidebar-toggler-btn:hover .sidebar-bar {
  width: 5rem;
}

.sidebar-social-media {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.sidebar-social-link {
  display: block;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  background-color: var(--dark-clr-2);
  border-radius: 50%;
  color: var(--light-clr-1);
}

.sidebar-social-link {
  transition: 0.3s ease-in-out all;
}

.sidebar-social-item .facebook:hover {
  background-color: #3b5998;
}

.sidebar-social-item .linkedin:hover {
  background-color: #0072b1;
}

.sidebar-social-item .github:hover {
  background-color: #171515;
}

.sidebar-max {
  position: fixed;
  margin-left: -40rem;
  width: 40rem;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url('../images/banner1.webp') no-repeat center/cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 1rem;
  transition: 0.3s ease-in-out all;
}

.sidebar-max-h2 {
  font-size: 3rem;
  text-transform: uppercase;
  font-family: 'Jost', sans-serif;
  color: var(--light-clr-1);
  margin-bottom: 1rem;
}

.sidebar-search-form {
  display: flex;
  border-radius: 3rem;
  overflow: hidden;
}

.sidebar-search-input {
  width: 100%;
  padding: 1rem;
  background-color: var(--light-clr-1);
  border: 0;
}

.sidebar-search-input:focus {
  outline: none;
}

.sidebar-search-btn {
  padding: 1rem;
  background-color: var(--light-clr-1);
  border: 0;
  cursor: pointer;
}

.sidebar-menu {
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-menu-link {
  color: var(--light-clr-1);
  margin-bottom: 1rem;
  display: block;
  text-transform: uppercase;
  position: relative;
  transition: 0.3s ease-in-out all;
}

.sidebar-menu-link:hover {
  color: var(--special-clr-1);
}

.sidebar-menu-link::before {
  content: '';
  position: absolute;
  top: -1rem;
  right: 5rem;
  height: 0.2rem;
  width: 100%;
  background-color: var(--special-clr-1);
  transition: 0.3s ease-in-out all;
  visibility: hidden;
}

.sidebar-menu-link:hover::before {
  right: 0;
  visibility: visible;
}

.sidebar-menu-link::after {
  content: '';
  position: absolute;
  bottom: -1rem;
  left: 5rem;
  height: 0.2rem;
  width: 100%;
  background-color: var(--special-clr-1);
  transition: 0.3s ease-in-out all;
  visibility: hidden;
}

.sidebar-menu-link:hover::after {
  left: 0;
  visibility: visible;
}

.sidebar-max .copyright {
  color: var(--grey-clr-1);
  text-transform: uppercase;
}

.sidebar-max .copyright a {
  color: inherit;
  font-size: inherit;
}

#sidebar-toggler {
  display: none;
}

#sidebar-toggler:checked + .sidebar-min .sidebar-bar {
  width: 4rem;
}

#sidebar-toggler:checked + .sidebar-min .sidebar-bar:nth-child(1) {
  transform: rotate(45deg) translate(6px, 10px);
}

#sidebar-toggler:checked + .sidebar-min .sidebar-bar:nth-child(2) {
  display: none;
}

#sidebar-toggler:checked + .sidebar-min .sidebar-bar:nth-child(3) {
  transform: rotate(-45deg) translate(-6px);
}

#sidebar-toggler:checked ~ .sidebar-max {
  margin-left: 7rem;
}

/* main content styling */
#main-content {
  margin-left: 7rem;
}

/* hero styling */
.hero {
  height: 100vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/banner2.webp') no-repeat center/cover;
  text-align: center;
}

.hero-h1 {
  font-size: 8rem;
  text-transform: uppercase;
  color: var(--light-clr-1);
  text-shadow: 1px 2px 0 var(--special-clr-1);
  margin-bottom: 2rem;
  font-family: 'Jost', sans-serif;
}

.hero-btn {
  padding: 1rem 4rem;
  border: 0;
  background: linear-gradient(rgba(79, 179, 209, 0.5), rgba(59, 126, 146, 0.5));
  color: var(--light-clr-1);
  border: 2px solid var(--special-clr-1);
  cursor: pointer;
  transition: 0.3s ease-in-out all;
}

.hero-btn:hover {
  background: linear-gradient(rgba(67, 167, 197, 0.5), rgba(37, 96, 114, 0.5));
}

/* about styling */
.about {
  padding: 4rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--grey-clr-1);
}

.about-col {
  flex: 0 1 50%;
  text-align: center;
}

.about-h2,
.room-h2,
.testimonial-h2,
.contact-h2 {
  font-size: 4rem;
  text-transform: uppercase;
  font-family: 'Jost', sans-serif;
  color: var(--dark-clr-2);
}

.about-p {
  max-width: 600px;
  margin: auto;
  font-style: italic;
  line-height: 1.7;
  margin-bottom: 2rem;
  font-weight: lighter;
}

.about-btn {
  border: 1px solid var(--special-clr-1);
  background-color: transparent;
  color: var(--special-clr-1);
  padding: 1rem 2rem;
}

.about-btn i {
  transition: 0.3s ease-in-out all;
}

.about-btn:hover i {
  margin-left: 1rem;
}

.about-img {
  width: 60rem;
  box-shadow: 10px 10px 0 var(--grey-clr-2);
}

/* rooms styling */
.room {
  text-align: center;
  padding: 1rem;
}

.room-flex {
  display: flex;
  flex-wrap: wrap;
}

.room-content {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  overflow: hidden;
}

.room-col {
  flex: 1 calc(100% / 3);
  padding: 1rem;
  margin-bottom: 1rem;
}

.room-img {
  height: 40vh;
  width: 100%;
  object-fit: cover;
  display: block;
}

.room-h3 {
  font-size: 3rem;
  padding: 1rem;
  text-transform: uppercase;
  color: var(--dark-clr-3);
}

/* testimonial styling */
.testimonial {
  text-align: center;
  background-color: var(--special-clr-1);
  padding: 4rem 1rem;
}

.testimonial-h2 {
  color: var(--light-clr-1);
}

.testimonial .line-1 {
  background-color: var(--light-clr-1);
}

.testimonial .line-2 {
  background-color: var(--dark-clr-2);
}

.testimonial-flex {
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin: auto;
  background-color: var(--light-clr-1);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 1rem;
  text-align: left;
  margin-bottom: 2rem;
}

.testimonial-img {
  height: 15rem;
  width: 15rem;
  object-fit: cover;
  display: block;
}

.testimonial-col-2 {
  border-left: 1px solid var(--grey-clr-1);
  margin-left: 1rem;
  padding-left: 1rem;
}

.testimonial-name {
  text-transform: uppercase;
  display: block;
  margin-bottom: 0.5rem;
  color: var(--dark-clr-3);
}

.testimonial-status {
  margin-bottom: 0.5rem;
  display: block;
  font-size: 1.3rem;
  color: var(--special-clr-1);
}

.testimonial-p {
  font-style: italic;
  font-weight: lighter;
}

/* contact styling */
.contact {
  background-color: var(--dark-clr-2);
  text-align: center;
  padding: 4rem 1rem;
}

.contact-h2 {
  color: var(--light-clr-1);
}

.contact .line-2 {
  background-color: var(--light-clr-1);
}

.contact-form {
  background-color: var(--light-clr-1);
  padding: 1rem;
  max-width: 800px;
  margin: auto;
  box-shadow: 5px 5px 0 var(--special-clr-1);
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 1rem;
}

.contact-btn {
  width: 100%;
  padding: 1.1rem 1rem;
  border: 0;
  background-color: var(--special-clr-1);
  color: var(--light-clr-1);
}

.footer.copyright{
  padding-top: 4rem;
  display: block;
  color: var(--light-clr-1);
}

.footer.copyright a {
  color: inherit;
  font-size: inherit;
}

@media (max-width: 1348px) {
  .about-img {
    width: 50rem;
  }
}

@media (max-width: 1334px) {
  .room-col {
    flex: 50%;
  }
}

@media (max-width: 1200px) {
  .hero-h1 {
    font-size: 6rem;
  }

  .about {
    padding: 2rem 1rem 4rem;
    flex-direction: column;
  }

  .about-col-1 {
    margin-bottom: 2rem;
  }

  .about-p {
    max-width: 100%;
  }

  .about-img {
    width: 80%;
  }

  .testimonial-flex {
    max-width: 800px;
  }
}

@media (max-width: 924px) {
  .hero-h1 {
    font-size: 5rem;
  }

  .about-h2,
  .room-h2,
  .testimonial-h2,
  .contact-h2 {
    font-size: 3rem;
  }
  .room-h3 {
    font-size: 2rem;
  }
}

@media (max-width: 896px) {
  .testimonial {
    padding: 1rem;
  }

  .contact {
    padding: 1rem 1rem 3rem;
  }
}

@media (max-width: 768px) {
  .about-img {
    width: 100%;
  }
  .room-col {
    flex-basis: 100%;
    padding: 0;
  }

  .testimonial-flex {
    flex-direction: column;
    text-align: center;
  }

  .testimonial-img {
    border-radius: 50%;
    margin-bottom: 1rem;
  }

  .testimonial-col-2 {
    border-left: 0;
    padding-left: 0;
    margin-left: 0;
  }
}

@media (max-width: 591px) {
  .hero-h1 {
    font-size: 4rem;
  }
}

@media (max-width: 469px) {
  .sidebar-bar {
    width: 3rem;
  }

  .sidebar-bar:nth-child(2) {
    width: 4rem;
  }

  .sidebar-toggler-btn:hover .sidebar-bar {
    width: 4rem;
  }

  #sidebar-toggler:checked + .sidebar-min .sidebar-bar {
    width: 4rem;
  }

  #sidebar-toggler:checked ~ .sidebar-max {
    margin-left: 5rem;
  }

  .sidebar-min {
    width: 5rem;
  }

  .sidebar-max {
    width: 30rem;
  }

  #main-content {
    margin-left: 5rem;
  }
}

@media (max-width: 400px) {
  .testimonial-img {
    height: 10rem;
    width: 10rem;
  }
}

@media (max-width: 349px) {
  .sidebar-max {
    width: 25rem;
  }
}

@media (max-width: 327px) {
  .hero-h1 {
    font-size: 3rem;
  }

  .about-h2,
  .room-h2,
  .testimonial-h2,
  .contact-h2 {
    font-size: 2.5rem;
  }

  .room-h3 {
    font-size: 1.8rem;
  }

  .line {
    width: 15rem;
  }
}

@media (max-width: 299px) {
  .sidebar-max {
    width: 20rem;
  }
}
